/* Canvas fills whole screen */
html, body {
  margin: 0;
  height: 100%;
  touch-action: none; /* Block gestures so they don't swallow our pointermove events*/
  -webkit-user-select: none; /* Disables text selection */
  -webkit-touch-callout: none; /* Disables the default pop-up menu/magnifier */
  user-select: none;
}
#renderTarget {
  display: block;
  width: 100%;
  height: 100%;
  touch-action: none; /* Block gestures so they don't swallow our pointermove events*/
  -webkit-user-select: none; /* Disables text selection */
  -webkit-touch-callout: none; /* Disables the default pop-up menu/magnifier */
  user-select: none;
}